@import "color-tail.css";
@import "font/font.css";

html {
    background-color: var(--color-black);
    color: var(--color-gray-500);
    font-family: Inter, serif;
}

h1 {
    color: var(--color-violet-600);
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: var(--color-yellow-600);
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
}
/* nav_main */
/* _layouts/default.html: <header class="page-header"> */
.page-header {

}
/* _includes/nav_main.html:  <ul class="nav"> */
.nav {
    margin-top: 10px;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    background-color: var(--color-slate-800);
    padding: 5px 15px;
    border-radius: 2px;
}

/* Highlighting in the text */
/* Примечание. Если разрастется, вынести в отдельный файл. */

.concept {
    color: var(--color-red-300);
    font-weight: bold;
}

.single_phrase {
    font-style: italic;
    color: var(--color-green-500);
    font-weight: 200;
}