<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ '/assets/css/reset.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/grid_layout.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <title>LinuxGik ASP.NET</title>
</head>
<body>
<div class="grid-container">
    <header class="page-header">
        {% include nav_main.html %}
    </header>

    <aside class="left-aside">
        {% include aside_left.html %}
    </aside>

    <main>
        {{ content }}
    </main>
    
    <aside class="right-aside">
        {% include aside_right.html %}
    </aside>

    <footer>
        {% include footer.html %}
    </footer>
</div>
</body>
</html>
